@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  line-height: 1.5; }

header .navbar-nav li .nav-link, footer ul li a {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }
header {
    background-color: #ffffff; }
    header .navbar {
      margin-top: 25px; }
header .navbar .navbar-brand img {
    width: 150px; }
header .navbar-nav li .nav-link {
    color: #948585 !important;
    font-size: 19px;
    letter-spacing: 0.9px;
    padding: 7px 25px !important;}
header .navbar-nav li .nav-link:hover {
    border-radius: 30px;
    background-color: #2edc8e9e;
         }
header .navbar-nav li:first-child .nav-link {
    border-bottom: 4px solid #2edc8e9e;
      }

h4 {
    margin-top: 20px;
    letter-spacing: 0.9px;
    color:#948585;
    font-size: 16px;
    text-transform: uppercase; }
h1 {
    color: #585252;
    line-height: 1.5;
    font-weight: 600;
    font-size: 40px; }
P {
    margin-top: 20px;
    color: #000;
    opacity: 0.6;
    font-size: 18px;
    line-height: 1.7; }
.btn_custom {
    font-size: 19px;
    text-align: center;
    letter-spacing: 0.9px;
    border-radius: 30px;
    padding: 7px 25px !important;
    margin-top: 20px;
    background: rgb(44,214,221);
    background: linear-gradient(90deg, rgba(44,214,221,1) 51%, rgba(23,231,120,1) 92%);
    color: #fff;
    border: 2px solid linear-gradient(90deg, rgba(44,214,221,1) 51%, rgba(23,231,120,1) 92%); }
.btn_custom:hover {
    color: #022716;
}

